b LanGitHub
|, built with 
a(href='http://nodejs.org/', target="_blank") NodeJS
|, 
a(href='http://expressjs.com/', target="_blank") Express
|, 
a(href='http://jade-lang.com/', target="_blank") Jade
|, 
a(href='http://twitter.github.com/bootstrap/', target="_blank") Bootstrap 
|and lots of 
i.icon-heart
|&nbsp;by 
a(href='http://www.placona.co.uk/', target="_blank") Marcos Placona
br
|Follow me on 
a(href='https://twitter.com/marcos_placona', target='_blank') Twitter
|, 
a(href='https://plus.google.com/111557456465418142877', target='_blank') Google+ 
| or 
a(href='https://github.com/mplacona', target='_blank') GitHub