extends layout

block content
	div(class='hero-unit', style='text-align:center')
		h1= title
		p Enter a language name or anything else you're interested in. 
			span.label.label-important Don't be naughty!
		p and I'll try to find you a repo for that on 
			a(href='https://github.com') GitHub
		hr
		form(action='/language/',method='post')
			div(class='input-append')
				input(id='appendedInputButtons' ,type='text' ,name='language',placeholder="NodeJS", class='span6', required)
				input(type='submit',value='show me them repos!',class='btn btn-primary')