doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content